:host {
  display: flex;
  flex-direction: column;
}

h1 {
  background: aliceblue;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 30px;

  background: aliceblue;
  border-bottom: 1px dashed grey;

  a {
    display: block;
    align-self: center;
    margin-bottom: -1px;

    padding: 10px;

    text-decoration: none;
    color: black;

    &:hover, &:active {
      background: white;
    }
  }
}

main {
  display: block;
  padding: 30px;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  align-self: center;
}
