* {
    font-family: Verdana, sans-serif;
}

pre {
    font-family: 'Dank Mono', monospace;
    background: cornsilk;
    padding: 5px;
    border: 1px dashed grey;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    padding: 0;
}

input,
select {
    padding: 5px;
}
