<div class="form-row">
    <ng-container
        #loginButton
        *ngIf="(user$ | async) === null; else logoutButton"
    >
        <label>Already registered?</label>
        <button (click)="login()">Login</button>
    </ng-container>
    <ng-template #logoutButton>
        <label *ngIf="user$ | async as user">
            {{ user.fullName }}<br />
            {{ user.zipCode }} {{ user.city }}<br />
            {{ user.street }}
        </label>
        <button (click)="logout()">Logout</button>
    </ng-template>
</div>

<ng-container *ngIf="form$ | async as form" [formGroup]="form">
    <form *ngIf="form.prop('visible')">
        <ng-container
            *ngIf="form.get('address')?.prop('visible')"
            formGroupName="address"
        >
            <h3>Shipping Address</h3>

            <div class="form-row">
                <label>Full Name</label>
                <input formControlName="fullName" />
            </div>

            <div class="form-row">
                <label>Zip Code</label>
                <input formControlName="zipCode" />
            </div>

            <div class="form-row">
                <label>City</label>
                <select
                    formControlName="city"
                    *ngIf="
                        form.get('address.city')?.prop('visible');
                        else cityValue
                    "
                >
                    <ng-container
                        *ngIf="
                            form.get('address.city')?.prop('options') as options
                        "
                    >
                        <option
                            *ngIf="
                                !form.get('address.city')?.value &&
                                !!form.get('address.city')?.enabled
                            "
                            value=""
                        >
                            Please select...
                        </option>
                        <option
                            *ngIf="
                                !form.get('address.city')?.value &&
                                !!form.get('address.city')?.disabled
                            "
                            value=""
                        >
                            Please enter a valid zip code first
                        </option>
                        <option
                            *ngFor="let option of options"
                            [selected]="
                                form.get('address.city')?.value === option
                            "
                        >
                            {{ option }}
                        </option>
                    </ng-container>
                </select>
                <ng-template #cityValue>
                    <span
                        class="value"
                        [class.disabled]="form.get('address.city')?.disabled"
                        >{{ form.get('address.city')?.value }}</span
                    >
                </ng-template>
            </div>

            <div class="form-row">
                <label>Street / No.</label>
                <input formControlName="street" />
            </div>
        </ng-container>

        <h3></h3>

        <div class="form-row">
            <label>Method</label>
            <div class="controls">
                <label
                    *ngFor="
                        let option of form.get('method')?.prop('options') ?? []
                    "
                >
                    <input
                        [value]="option"
                        type="radio"
                        formControlName="method"
                    />
                    {{ option }}
                </label>
            </div>
        </div>
    </form>
    <button (click)="submit()">OK</button>
</ng-container>

<pre>{{ (form$ | async)?.value | json }}</pre>
