* {
  font-family: Verdana, sans-serif;
}

pre {
  font-family: "Dank Mono", monospace;
  background: beige;
  padding: 5px;
  border: 1px dashed grey;
}

html, body {
  margin: 0;
  padding: 0;
}

input, select {
  padding: 5px;
}
